* {
    box-sizing: border-box;
}

.top-navbar {
    display: flex;
    width: 100%;
    max-width: 66.67vw;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.etsy-logo svg {
    fill: #f1641e;
    width: 80px;

}

.search-bar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container input {
    width: auto;
    flex: 1;
}

.search-bar-container svg, .nav-right-group ul li svg {
    fill: #222222;
    width: 24px;
}

.nav-right-group ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.nav-right-group ul li {
    list-style: none;
}